/* Basic reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(217, 217, 202);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: sans-serif;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* SCREENS */

.screen {
  display: none;
  padding: 2rem;
  text-align: center;
}

.screen.active {
  display: block;
}

/* START SCREEN */

#start-screen h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #ff9c11;
}

#start-screen p {
  margin-bottom: 30px;
  color: #555;
  font-size: 1.2rem;
}
.quiz-header {
  color: #333;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  font-size: 1.5rem;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
}

/* ANSWER BUTTONS */

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.answer-btn {
  background-color: #f397e7;
  color: #333;
  border: 2px solid #eadbc8;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
}

.answer-btn:hover {
  background-color: #eadbc8;
  border-color: #dac0ae;
}
.answer-btn.correct {
  background-color: #fbfbfb;
  border-color: #a4c2a5;
  color: #55b774;
}

.answer-btn.incorrect {
  background-color: #fbfbfb;
  border-color: #e79a9a;
  color: #d9534f;
}

/* PROGRESS BAR */

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e36666;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.progress {
  height: 100%;
  width: 0;
  background-color: #56cf94;
  transition: width 0.3s ease;
}

/* RESULT SCREEN */

#result-screen h1 {
  margin-bottom: 30px;
  color: #333;
}

.result-info {
  background-color: #eadbc8;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
  border-radius: 10px;
}
.result-info p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #333;
}

#result-message {
  font-size: 1.5rem;
  color: #ff9c11;
  font-weight: 600;
}

button {
  background-color: #ff9c11;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d45b28;
}
